/* Globales */
body {
    background-color: #ffffff99;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    font-weight: 600;
}

.navegacion {
    background-color: white;
    padding: 10px;
}

.navegacion a {
    color: #979595;
    padding: 0 10px;
    text-decoration: none;
    font-size: 20px;
}
.navegacion a:hover{
    color: black;
}
.contacto input {
    display: block;
}

.imagen-fondo {
    background-image: url(../img/bg-talleres.jpg);
    background-position: center center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen-fondo h1 {
    margin-right: 30px;
    font-size: 90px;
}

.imagen-fondo p {
    font-size: 30px;
}

#subtitulo {
    margin: 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Copy {
    color: #979595;
}

.redes a {
    color: #979595;
    margin-right: 5px;

}
 


