/* Globales */
body {
    background-color: aquamarine;
}

ul {
    list-style: none;
}

.navegacion {
    background-color: white;
    padding: 10px;
}

.navegacion a {
    color: #979595;
    padding: 0 10px;
    text-decoration: none;
    font-size: 20px;
}
.navegacion a:hover{
    color: black;
}
.contacto input {
    display: block;
}

