/* Globales */
body {
    background-color: #ffffff99;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    font-weight: 600;
}

.navegacion {
    background-color: white;
    padding: 10px;
}

.navegacion a {
    color: #979595;
    padding: 0 10px;
    text-decoration: none;
    font-size: 17px;
}
.navegacion a:hover{
    color: black;
}
.navegacion i {
    color:#0081CF;
    margin-left: 10px;
}

.contacto input {
    display: block;
}

.imagen-fondo {
    background-image: url(../img/bg-talleres.jpg);
    background-position: center center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen-fondo h1 {
    margin-right: 30px;
    font-size: 90px;
}

.imagen-fondo p {
    font-size: 30px;
}

#subtitulo {
    margin: 20px 0;
    background-color: #0081CF;
    padding: 7px;
    border-radius: 5px;
    color: white;
}

.iconos {
    display: flex;
    justify-content: space-between;
}

.iconos div {
    flex-basis: calc(33%);
}


.html {
    color: cornflowerblue;
}

.css {
    color: darkgreen;
}
.git {
    color:#4B4453;
}

.javascript{
    color:#FFC75F;
}

.python {
    color: blue;
}

.java {
    color: #2C73D2;
}

.sql {
    color: #B0A8B9;
}


.react {
    color: #00C9A7;

}

.bootstrap{
    color: crimson;

}

legend {
    font-size: 2rem;
    color: #4f4f4f;
    margin-top: 40px;
    margin-bottom: 20px;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]) {
    padding: 10px;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

.boton {
    display: inline-block;
    background-color: #008CCC;
    border-style: none;
    margin-top: 10px;
    color: white;
}

.ENVIAR {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Copy {
    color: #979595;
}

.redes a {
    color: #979595;
    margin-right: 5px;

}
.redes .fb {
    color:#2C73D2;
}

.redes .ig {
    color: #D65DB1;

}

.redes .github{
    color: black;

}

.redes .linkedin{
    color:#2C73D2;
}



